body {
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	color: #6c7279;
	margin: 0;
	background-color: #fff;
	-webkit-font-smoothing: antialiased; /* сглаживание шрифтов */
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

p {
	margin: 0 0 10px;
}

/* Remove outline on the forms and links */
:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}



/* container
============== */

.container	{
	width: 100%;
	max-width: 1200px;/* 1170px + 15px + 15px */
	margin: 0 auto;
	padding: 0 15px;/* 15px чтоб при уменьшении экрана был отступ от краев */
}




/* header 
================*/

.header {
	position: absolute; /* отделяем блок header от блока intro */
	top: 0;
	left: 0;
	z-index: 1000;
	width: 100%;
	height: 100px;
}

.header.fixed {
	position: fixed;
	background-color: #31344e;
	height: auto;
}

.header.fixed .header__inner {
	border: none;
	padding: 15px 0;
}

.header__inner {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #515369;
	padding: 35px 0;
	-ms-align-items: center;
	align-items: center; /* вертикальное выравнивание */
}


/* nav
============== */


.nav {
	font-size: 13px;
	font-weight: 700;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.nav__link {
	color: #fff;
	text-decoration: none;
	opacity: .75;
	transition: opacity .3s linear;
	margin-left: 28px;
}

.nav__link:first-child {
	margin-left: 0;
}

.nav__link:hover {
	opacity: 1;
	color: red;
}

/* intro
========== */

.intro {
	height: 750px;
	background: #31344e url(../img/intro_bg.jpg) center no-repeat;
	background-size: cover;
	padding-top: 100px;/* равный высоте header */

	/* выравнивае по центру по вертикали */
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;/* каждый новый элемент будет начинаться с новой строки */
	justify-content: center;
}

.intro__inner {
	max-width: 970px;
	width: 100%;
	margin: 0 auto;/* выравниваем по центру */
	text-align: center;
}

.intro__title {
	font-family: 'Open Sans', sans-serif;
	font-size: 65px;
	line-height: 1.1;
	color: #fff;
	font-weight: 700;
	margin: 0;
	text-transform: uppercase;
	margin: 0 0 30px;
	
}

.intro__subtitle {
	font-size: 22px;
	line-height: 1.5;
	color: #fff;
	font-weight: 400;
	margin-bottom: 60px;
}

/* button
============= */

.btn {
	display: inline-block;
	vertical-align: top;/* выравнивание по вертикали по верху*/
 font-size: 13px;
 color: #fff;
 font-weight: 600;
 text-transform: uppercase;	
 text-decoration: none;
 padding: 14px 40px;
 border-radius: 2px;
 font-family: 'Raleway', sans-serif;/* наследуем шрифт родителя */
	border: 0;
	cursor: pointer;
	transition: background .2s linear;
	text-align: center;
}

.btn--red {
	background-color: #e84545;
}

.btn--red:hover {
	background-color: #A60C0C;
}

.btn--long {
	min-width: 280px;
}

/* features 
==============*/

.features {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;/* чтобы элементы перепрыгивали на новую строку, если они не помещаются в контейнере */
	margin: 100px 0;
}

.features__item {
	width: 33.33333%;
	text-align: center;
	padding: 0 40px;
	margin-bottom: 70px;
}

.features__icon {
	margin-bottom: 25px;
}

.features__title {
	font-size: 14px;
	color: #2D3033;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.features__text {
	line-height: 1.5;
	font-size: 14px;
	color: #6c7279;
}


/* works
=============== */

.works {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}

.works__item {
	width: 25%;
	position: relative;/*  для того чтоб фото задать абсолют */
	overflow: hidden;/* скрываем всё что вылезает за рамки контейнера */
	height: 350px;
	border-bottom: 1px solid #fff;
	border-right: 1px solid #fff;
}

.works__item:hover .works__content {
	opacity: 1;
}

.works__foto {
	min-width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 1;

	-webkit-transform: translate3d(-50%, -50%, 0);/* выравнивание по центру вертикально и горизонтально */
	-ms-transform: translate3d(-50%, -50%, 0);
	-o-transform: translate3d(-50%, -50%, 0);
	transform: translate3d(-50%, -50%, 0);
}

.works__content {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: center;/* выравниваем по вертикали благодаря column */
	color: #fff;
	text-align: center;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	background-color: rgba(232, 69, 69, .9);
	font-size: 14px;
	font-weight: 700;
	opacity: 0;
	transition: opacity 0.2s linear;
}

.works__title {
	margin-bottom: 5px;
	text-transform: uppercase;
}


/* teem
============== */

.team {
	margin: 100px 0 70px;/* 70px30px=100px */

}

.team__inner {
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin: 0 -15px;
}

.team__item {
	width: 25%;
	padding: 0 15px;
	margin-bottom: 30px;
}

.team__photo {
	display: block;
	max-width: 100%;
	height: auto;
	margin-bottom: 20px;
}

.team__name {
	font-size: 22px;
	color: #2d3033;
	margin-bottom: 8px;
}

.team__prof {
	font-size: 13px;
	color: #e84545;
	text-transform: uppercase;
	margin-bottom: 16px;
}

.team__text {
	font-size: 14px;
	line-height: 1.5;
	color: #6c7279;
	margin-bottom: 20px;
}


/* social
============== */

.social {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.social__item {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	width: 40px;
	height: 40px;
	border: 1px solid #e8ecee;
	justify-content: center;
	align-items: center;
	margin-right: 4px;
	background-color: #fff;
	transition: background-color .2s linear;
}

.social__icon {
	display: block;
	height: 18px;
	fill: #c6cacc; /* при работе с svg для цвета заливки */
	transition: fill .2s linear;
}

.social__item:hover {
	background-color: #0D20D6;
}

.social__item:hover .social__icon {
	fill: #FCF912;
}

.social--footer {
	justify-content: center;
}

.social--footer .social__item {
	background-color: transparent;
	border-color: #fff;
	border-width: 2px;
	border-radius: 2px;
}

.social--footer .social__item:hover {
	background-color: #fff;
}

.social--footer .social__item:hover .social__icon{
fill: #3a3e64;
}

.social--footer .social__icon {
	fill: #fff;
}

/* Testimonials
================ */

.reviews {
	background-color: #53354a;
	overflow: hidden;
}

.reviews__slider {
	height: 500px;
	overflow: hidden;
}

.reviews__slider.slick-initialized {
	height: auto;
}

.slick-dots {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 0;
	list-style-type: none;

	width: 50%;
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 2;

}

.slick-dots li {
	margin: 0 5px;
	padding-bottom: 15px;
}

.slick-dots button {
	width: 10px;
	height: 10px;
	background: #fff;
	opacity: .5;
	border-radius: 50%;

	padding: 0;
	border: 0;
	font-size: 0;
	color: transparent;
	cursor: pointer;

}

.slick-dots button:focus {
	outline: 0;
}

.slick-dots .slick-active button{
	opacity: 1;
}

.reviews__item {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	overflow: hidden;
	}

.reviews__photo {
	width: 50%;
	height: 500px;
	position: relative;
}
.reviews__img {
	position: absolute;
	top: 50%;
	right: 0;
	z-index: 1;
	transform: translateY(-50%);
}

.reviews__content {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: center;

	width: 50%;
	color: #fff;
	padding-left: 80px;
}

.reviews__text {
	font-family: 'Cardo', serif;
	font-size: 36px;
	line-height: 1.16;
	margin-bottom: 30px;
	font-style: italic;
}

.reviews__author {
	font-size: 13px;
	line-height: 1.6;
	font-weight: 700;
	text-transform: uppercase;
}



/*Download
==============*/

.download {
	margin: 90px 0;
	text-align: center;
}

.download__title {
	color: #2d3033;
	font-size: 28px;
	font-weight: 300;
	line-height: 0.75;
	margin-bottom: 15px;
}

.download__text {
	font-size: 13px;
	line-height: 1.6;
	font-weight: 700;
	color: #2d3033;
	text-transform: uppercase;
	margin-bottom: 30px;
}


/*footer
==========*/
 
.footer {
	
	background-color: #3a3e64;
} 

.footer__inner {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	padding: 70px 0 100px;
}

.footer__block {
	width: 33.33333%;
	text-align: center;
	padding: 0 15px;
}
 
.footer__title {
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	color: #fff;
	margin-bottom: 10px;
}

.footer__address {
	color: rgba(255, 255, 255, .5);
	font-size: 14px;
	line-height: 1.5;
	font-style: normal;
}

.footer__text {
	color: rgba(255, 255, 255, .5);
	font-size: 14px;
	line-height: 1.5;
}


/*copyright
==============*/

.copyright {
	background-color: #313454;
	padding: 20px 0;
	text-align: center;
}

.copyright__text {
	color: #808080;
	font-size: 14px;
	line-height: 1.5;
}

.copyright__text span {
	color: #fff;
}

.copyright__heart {
	height: 11px;
	width: 12px;
}

/*burger*/

.burger {
	display: none;
	background: none;
	border: 0;
	cursor: pointer;
	padding: 9px 2px;	
}

.bupger__item {
	display: block;
	width: 30px;
	height: 3px;
	background-color: #fff;

	font-size: 0;
	color: transparent;
	outline: none;
	position: relative;
	
	
}

.bupger__item:before, .bupger__item:after {
	content: '';
	width: 100%;
	height: 100%;
	background-color: #fff;
	position: absolute;
	left: 0;
	z-index: 1;
}

.bupger__item:before {
	top: -8px;
}

.bupger__item:after {
	bottom: -8px;
}


/*Media 
============*/

@media (max-width: 1300px) {

.works__item {
	width: 50%;

}

}

@media (max-width: 991px) {
	
	.intro__title {
		font-size: 40px; 
	}
	
	.nav {
		display: none;
		position: absolute;
		top: 100%;
		right: 0;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;

		background-color: #31344e;
		width: 100%;
		text-align: right;
	}

	.nav.show {
		display: flex;
	}

	.nav__link {
		padding: 9px 15px;
	}

	.burger {
		display: block;
	}

	.features__item {
  width: 50%;
 }

 .team {
 	margin: 60px 0px 30px;
 }

 .team__item {
 	width: 50%;
 	text-align: center;
 }
 .team__photo {
 	margin: 0 auto;
 }

 .social {
 	justify-content: center;
 }
 .reviews__photo {
 	width: 100%;
 	overflow: hidden;
 	margin: 15px 0 40px;
 }

 .reviews__content {
 	width: 100%;
 	padding-top: 0;
 	padding-bottom: 40px;
 }

}

@media (max-width: 769px) {

	.intro {
		height: auto;
		padding: 130px 0 30px;
	}

	.intro__title {
		font-size: 30px; 
	}

	.intro__subtitle {
		font-size: 16px;
		margin-bottom: 30px;
	}

	.features {
		margin: 40px 0;
	}

	.features__item {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}
 .works__item {
		width: 100%;
		max-height: 300px;
}

.works__foto {
	height: 300px;
	}

	.team__item {
		width: 100%;
	}
	.reviews__content {
	padding-left: 0;
}


	.reviews__text {
		font-size: 25px;
	}

	.btn--lg {
		min-width: 260px;
	}

	.download {
		margin: 50px -0px;
	}

	.download__title {
		font-size: 24px;
		line-height: 1.3;
	}

	.footer__inner {
		padding: 20px 0 50px;
	}

	.footer__block {
		width: 100%;
		margin-bottom: 40px;
		padding-left: 0;
		padding-right: 0;
	}

	.footer__block:last-child {
		margin-bottom: 0;
	}

	
}

@media (max-width: 414px) {


	.works__item {
		width: 100%;
		max-height: 200px;
}

.reviews__img {
	right: -200px;
}


}